<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../stylesheet/styles.css"> -->
    <title>NBL</title>
</head>

<!-- styles -->
<%- include("./stylesheet/styles.ejs") %>



<body>
    
    <!-- header -->
    <%- include('./partials/header.ejs') %>


    <!-- main -->
    <%- include('./partials/main.ejs') %>
     


    <!-- footer -->
    <%- include('./partials/footer.ejs') %>


    <script src="../javascript/main.js" type="module"></script>
</body>
</html>