<div id="auth-foreign-contaner">
    <!-- google -->
     <a href="/auth/google" id="google-link" class="foreign-link">
        <img src="../../media/png/google.png" alt="google logo - icons8" class="logo-foreign">
        <p id="foreign-para">Google</p>
     </a>
    <!-- github -->
     <a href="" id="github-link" class="foreign-link">
        <img src="../../media/png/github.png" alt="github logo - icons8" class="logo-foreign">
        <p id="foreign-para">Github</p>
     </a>
    <!-- facebook -->
     <a href="" id="facebook-link" class="foreign-link">
        <img src="../../media/png/facebook.png" alt="facebook logo - icons8" class="logo-foreign">
        <p id="foreign-para">Facebook</p>
     </a>
</div>

<div id="or-container">
    <p>or</p>
</div>