<!-- <div id="event-container-create" class="hidden no-display"> -->
<div id="event-container-create" class="">
<!-- <div id="game-container-create"> -->
    <!-- form -->
    <form action="/game/create" method="post">
            <!-- game type -->
             <select name="game_type" id="game-type-selection">
                <option value="REG">Regular</option>
                <option value="TOURNY">Tournament</option>
                <option value="CSTM">Custom</option>
             </select>

            <!-- event description -->
            <div id="description-container">
                <label for="event_description">Game Description</label>
                <input type="text" name="event_description" id="event-description" required>
            </div>
            
            <!-- event date -->
            <div id="date-container">
                <!-- event start date -->
                <div class="date-col">
                    <label for="event_start_date">Start Date</label>
                    <input type="date" name="event_start_date" id="event-start-date" required>
                </div>
                <!-- event end date -->
                <div class="date-col">
                    <label for="event_end_date">End Date</label>
                    <input type="date" name="event_end_date" id="event-end-date" required>
                </div>
            </div>
            


            <div id="time-container">
                <!-- event start time -->
                <label for="event_start_time">Start Time</label>
                <div class="time-col">
                    <div>
                        <input class="num-time" type="number" min="0" max="9" name="event_start_time0">
                        <input class="num-time" type="number" min="0" max="9" name="event_start_time1">
                    </div>
                    <p>:</p>
                    <div>
                        <input class="num-time" type="number" min="0" max="9" name="event_start_time2">
                        <input class="num-time" type="number" min="0" max="9" name="event_start_time3">
                    </div>
                </div>
                <!-- event end time -->
                <label for="event_end_time">End Time</label>
                <div class="time-col">
                    <div>
                        <input class="num-time" type="number" min="0" max="9" name="event_end_time0">
                        <input class="num-time" type="number" min="0" max="9" name="event_end_time1">
                    </div>
                    <p>:</p>
                    <div>
                        <input class="num-time" type="number" min="0" max="9" name="event_end_time2">
                        <input class="num-time" type="number" min="0" max="9" name="event_end_time3">
                    </div>
                </div>
            </div>


            <button type="submit">Submit</button>
    </form>
</div>