<div id="event_container">
    <form action="/event/create">

        
    </form>
</div>


<!-- // create mock reservation
// const cookout = createInstance(Reservation, {
//     r_id:'fj9jf239f',
//     event_id:String,
//     firstname:'Sean',
//     lastname:'Mason',
//     email:'smason@user.com',
//     createAt:Date.now(),
//     updatedAt:Date.now() + 180000,
//     canceled:false,
//     approvalDetails
// }) -->