<footer id="footer" class="footer-main main-footer">
    <a href="/" id="title-container" class="footer-title">
        <img id="bball" src=<%= dirspace === false ? "../../media/png/basketball.png" : "../../../media/png/basketball.png" %> alt="image of basketball">
        <h1 id="footer-title-id">N.B.L</h1>
     </a>
</footer>