<footer id="footer" class="footer-main main-footer">
    <a href="/" id="title-container" class="footer-title">
        <img id="bball" draggable="false" src=<%= dirspace === false ? "../../media/png/basketball.png" : "../../../media/png/basketball.png" %> alt="image of basketball">
        <h1 id="footer-title-id">N.B.L</h1>
        <!-- 
 
        Copyright Notice
        : A copyright symbol (©), the current year, and the name of the website owner provide legal protection and indicate content ownership. 

        Contact Information
        : Include a company address, phone number, and a link to a contact page or form for direct communication. 

        Legal Links
        : Provide clear links to your Privacy Policy and Terms of Service (or Terms and Conditions) to comply with regulations and inform users about data handling. 

        Navigation Links
        : A sitemap and links to other important pages, such as About Us, FAQ, or specific product/service pages, help users find information quickly. 

        Branding 
        : Display your company logo to reinforce your brand identity and ensure consistent branding across the site. 

        -->
     </a>
</footer>