<header id="header" class="header-main main-header head mainheader headermain">
    <!-- title -->
     <a href="/" id="title-container">
        <img id="bball" src=<%= dirspace === false ? "../../media/png/basketball.png" : "../../../media/png/basketball.png" %> alt="image of basketball">
        <h1 id="header-title">N.B.L</h1>
     </a>

     <!-- navigation -->
      <%- include('./navigation.ejs') %>
</header>