<main id="main" class="hidden">
    <!-- background preview (GIF) -->
     
    <h2 id="main-title" class="">National Basketball League</h2>

    <%- include('./create_event.ejs') %>
 

    <% if (authenticated === false) { %>
        <%- include('./member.ejs') %>
        <% } %>


</main>