<main id="main" class="hidden">
    <!-- background preview (GIF) -->
     
    <h2 id="main-title" class="">Home Page</h2>

    <%- include('./create_event.ejs') %>


    <% if (authenticated === true) { %>
        <%- include('./member.ejs') %>
        <% } %>


</main>