<main id="main" class="hidden">
    <!-- background preview (GIF) -->
     <div id="dimmer" class="bar-dimmer dimmer-bar">
        <img src="../media/png/sun.png" class="dimmer-num dimmer-top"></img>
        <img src="../media/png/sun.png" class="dimmer-num dimmer-bottom crest-big">1</p>
        <img draggable="false" id="bball-icon-scroll" src="../media/png/basketball_icon.png" alt="">
     </div>
    <h2 id="main-title" class="">Nautica Basketball League</h2>

    <img alt="bg img slideshow" class="bg-img no-pointer">

    <% if (authenticated === false) { %>
        <%- include('./member.ejs') %>
        <% } %>

</main>