<div id="member-mega-container">
    <div id="member-container">
        <h1 id="member-title" class="member-title-padding">Roll With Us</h1>
        <img id="bball-icon" src="../media/png/basketball_icon.png" alt="icon of basketball">
    </div>
    <div id="member-container" class="container-member">
        <%- include('./signup.ejs') %>
        <%- include('./login.ejs') %>
    </div>
</div>