<nav id="nav">
    <ul id="nav-ul">
        <% navlinks.map((link,index) => { %>
          <li class="nav-list-item">
                <a href="#" class="nav-list-link"> 
                    <% if(link==='Options'){ %>
                        <p> <%= link %></p>
                        <select name="option" id="select-option">
                            <option value="0">None</option>
                            <option value="1">See all Events</option>
                            <option value="2">Create an Event</option>
                            <option value="3">Create a Game</option>
                        </select>

                        <div id="select-btn" class="margin-top-25 hidden">Go</div>
                    <% } else { %>
                        <p> <%= link %></p>
                        <% } %>
                </a>
          </li>
        <% }) %>
    </ul>
</nav>
