<nav id="nav">
    <ul id="nav-ul">
        <% navlinks.map((link,index) => { %>
          <li class="nav-list-item">
                <a href="#" class="nav-list-link"> 
                    <% if(link==='Options'){ %>
                        <p class="nav-label"> <%= link %></p>
                        <select name="option" id="select-option">
                            <option value="0">Home</option>
                            <option value="1">All Events</option>
                            <option value="1.25">Upcoming Events</option>
                            <option value="1.5">Completed Events</option>
                            <option value="1.75">Canceled Events</option>
                            <% if(create === true) { %>
                                 <option value="2">Create an Event</option>
                                 <option value="3">Create a Game</option>
                            <%}%>
                        </select>

                        <div id="select-btn" class="margin-top-25 hidden">Go</div>
                    <% } if(link==='Home'){ %>
                        <a href="/"><%= link %></a>
                        <% } if(link==='Contact'){ %>
                        <a href="/contact"><%= link %></a>
                        <% } %>
                        
                </a>
          </li>
        <% }) %>
    </ul>
</nav>
