<div id="event-container" class="">
    <div id="event-nomenclature-container">
        <h1 id="event-name">Some Event Name</h1>
    </div>

    <div id="event-details-container">
        
    </div>
</div>


<!-- // create mock reservation
// const cookout = createInstance(Reservation, {
//     r_id:'fj9jf239f',
//     event_id:String,
//     firstname:'Sean',
//     lastname:'Mason',
//     email:'smason@user.com',
//     createAt:Date.now(),
//     updatedAt:Date.now() + 180000,
//     canceled:false,
//     approvalDetails
// }) -->